<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>sfre</display-name>
    <servlet-name>sfre</servlet-name>
    <servlet-class>com.api.sfre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sfre</servlet-name>
    <url-pattern>/sfre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sbsxj</display-name>
    <servlet-name>sbsxj</servlet-name>
    <servlet-class>com.api.sbsxj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sbsxj</servlet-name>
    <url-pattern>/sbsxj</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fghfg</display-name>
    <servlet-name>fghfg</servlet-name>
    <servlet-class>com.api.fghfg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fghfg</servlet-name>
    <url-pattern>/fghfg</url-pattern>
  </servlet-mapping>
</web-app>